body{
    background-color: antiquewhite;
}
.card{
    height: 100%;
    width: 50%;
    background-color: burlywood;
    margin: auto;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}
.card.recipe{

}
.card.homepage{

}
.recipe-title{
    text-align: center;
}
.recipe-tagline{
    text-align: center;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe-type,
.header
 {
    text-align: left;
    margin-left: -10;
    padding: 0;
 }
 .list-item{
    margin: 10px 10px 10px 19px;
 }
 .process .list-item{
    margin: 25px 20px 25px 19px;
 }
 ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
 }
img{
    width: 350px;
    height: 350px;
}
