body{
    background-color: antiquewhite;
}

.card{
    height: 100%;
    width: 50%;
    background-color: burlywood;
    margin: auto;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.home-header{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 25px;
}

.recipe-title{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}

.recipe-description{
    text-align: center;
    padding: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    font-size: 20px;
}

.recipe-tagline{
    text-align: center;
    font-size: 35px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-type,
.header
 {
    text-align: left;
    padding: 0;
    font-size: 25px;
 }

 .recipe-type{
    border-top: 3px solid #000000;
 }

 .list-item{
    margin: 10px 10px 10px 19px;
    font-size: 20px;
 }

 .process {
    padding-top: 20px;
    border-top: 3px solid #000000;
 }

 .process .list-item{
    margin: 25px 20px 25px 19px;
 }
 
 ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
 }

 a {
    text-decoration: none;
    font-size: 20px;
 }

img{
    width: 350px;
    height: 350px;
}
